<mat-nav-list class="w-64 bg-gray-100 h-full text-gray-800 p-4 font-semibold text-lg">
  <mat-list-item routerLink="/orders" class="sidebar-item hover:bg-gray-300 rounded-lg transition duration-300">
    <mat-icon class="mr-5 text-xl">shopping_cart</mat-icon> 
    <span class="tracking-wide">Orders</span>
  </mat-list-item>

  <mat-list-item routerLink="/products" class="sidebar-item hover:bg-gray-300 rounded-lg transition duration-300">
    <mat-icon class="mr-5 text-xl">inventory</mat-icon> 
    <span class="tracking-wide">Products</span>
  </mat-list-item>

  <mat-list-item routerLink="/brands" class="sidebar-item hover:bg-gray-300 rounded-lg transition duration-300">
    <mat-icon class="mr-5 text-xl">storefront</mat-icon> 
    <span class="tracking-wide">Brands</span>
  </mat-list-item>
</mat-nav-list>
